body {
  margin: 0;
  padding: 0;
  background: yellow;
}

.container {
  width: 100%;
}

/* styling for header */
.header {
  margin-bottom: 30px;
  border-bottom: 5px solid black;
}

.header .logo {
  width: 80px;
}

.header .nameAndTitle {
  text-align: right;
}

/* styling for main section */

.content {}

.content .jumbotron {
  width: 400px;
}

.content .feature-work {}

.content #all-projects {
  text-align: center;
}

.content #all-projects div {
  display: inline-block;
}

.content .project img {
  width: 200px;
  height: 150px;
}

/* styling for footer */

footer {}

footer p {
  text-align: right;
}

