body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: yellow;
}

.container {
  width: 100%;
}

.heading {
  margin: auto;
  padding: 10px;
  text-align: right;
}

.heading .logo {
  width: 50px;
}

.heading .jumbotron {
  width: 80%;

}

#feature-work {
  text-align: center;
}

#feature-work div {
  display: inline-block;
}

#feature-work div img {
  width: 200px;
  height: 150px;
}

p {
  text-align: right;
}

