body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: yellow;
}

#name-title {
  margin: auto;
  padding: 10px;
  text-align: right;
  width: 100%;
}

#feature-work {
  text-align: center;
}

#feature-work div {
  display: inline-block;
}

#feature-work div img {
  width: 200px;
  height: 150px;
}

